In [1]:
print("hello")

hello

# variable

In [2]:
a=9
b=9

In [3]:
c=a*b

In [4]:
print(c)

81

In [5]:
type(c)

int

In [6]:
type("123")

str

In [7]:
name="tanu"

In [8]:
name.capitalize()

'Tanu'

In [9]:
name.isalpha()

True

# replace function

In [17]:
name.replace("tanu","anubha")

'anubha'

In [18]:
print(name)

tanu

In [20]:
name.replace("b","a")

'tanu'

# conditional statement

In [28]:
if a<b:
    print(a+" is greater")
elif a>b:
    print(b+"is greater")
else:
    print("both are equal")

both are equal

In [30]:
"True" if a==b else "false"

'True'

In [31]:
if 0:
    pass
else:
    print("hello")

hello

In [32]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [33]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

# split function

In [34]:
name.split()

['tanu']

In [39]:
print("tanu,anubha".split(','))

['tanu', 'anubha']

In [72]:
name,age=input("enter your name and age ").split()

enter your name and age harsh 16

In [43]:
print(name)

harsh

In [44]:
print(age)

15

# list

In [61]:
list1=["a","b","c","d"]
print(list1)

['a', 'b', 'c', 'd']

In [54]:
list1[0:-1]

['a', 'b', 'c']

In [55]:
list1[:]

['a', 'b', 'c', 'd']

In [69]:
list1[0]="e"

In [68]:
list1.append("f")

In [70]:
print(list1)

['e', 'b', 'c', 'd', 'f']

In [71]:
for n in list1:
    print(n)

e
b
c
d
f

# format

In [74]:
print("your name is {0} and age is {1} ".format(name,age))

your name is harsh and age is 16

In [77]:
f"your name is {name} and age is {age}"

'your name is harsh and age is 16'

# break and continue

In [99]:
for n in list1:
    if n=="d":
        print("found {0} ".format(n))
        break
    print("not found")

not found
not found
not found
found d

In [101]:

for n in list1:
    if n=="b":
        continue
        print("found {0}".format(n))
    print("found {0}".format(n))

found e
found c
found d
found f