print("hello")

# variable

In [2]:
a=9
b=9

In [3]:
c=a*b

In [4]:
print(c)

81

In [5]:
type(c)

int

In [6]:
type("123")

str

In [7]:
name="tanu"

In [8]:
name.capitalize()

'Tanu'

In [9]:
name.isalpha()

True

# replace function

In [17]:
name.replace("tanu","anubha")

'anubha'

In [18]:
print(name)

tanu

In [20]:
name.replace("b","a")

'tanu'

# conditional statement

In [28]:
if a<b:
    print(a+" is greater")
elif a>b:
    print(b+"is greater")
else:
    print("both are equal")

both are equal

In [30]:
"True" if a==b else "false"

'True'

In [31]:
if 0:
    pass
else:
    print("hello")

hello

In [32]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [33]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

# split function

In [34]:
name.split()

['tanu']

In [39]:
print("tanu,anubha".split(','))

['tanu', 'anubha']

In [ ]:
name,age=input("enter your name and age ").split()

In [3]:
print(name)

tanu

In [44]:
print(age)

15

# list

In [61]:
list1=["a","b","c","d"]
print(list1)

['a', 'b', 'c', 'd']

In [54]:
list1[0:-1]

['a', 'b', 'c']

In [55]:
list1[:]

['a', 'b', 'c', 'd']

In [69]:
list1[0]="e"

In [68]:
list1.append("f")

In [70]:
print(list1)

['e', 'b', 'c', 'd', 'f']

In [71]:
for n in list1:
    print(n)

e
b
c
d
f

# format

In [74]:
print("your name is {0} and age is {1} ".format(name,age))

your name is harsh and age is 16

In [77]:
f"your name is {name} and age is {age}"

'your name is harsh and age is 16'

# break and continue

In [99]:
for n in list1:
    if n=="d":
        print("found {0} ".format(n))
        break
    print("not found")

not found
not found
not found
found d

In [101]:

for n in list1:
    if n=="b":
        continue
        print("found {0}".format(n))
    print("found {0}".format(n))

found e
found c
found d
found f

# day 2
## more on list
### list in list

In [4]:
sister=['tanu','anubha','deeksha',['meghna','muskan']]

In [7]:
print(sister)

['tanu', 'anubha', 'deeksha', ['meghna', 'muskan']]

In [9]:
print(sister[3][0])

meghna

In [18]:
for i in sister[3]:
    print(i)

meghna
muskan

### extend method in list

In [19]:
sister1=['tanu','avni','yuvi']
sister1.extend(sister)

In [20]:
print(sister1)

['tanu', 'avni', 'yuvi', 'tanu', 'anubha', 'deeksha', ['meghna', 'muskan']]

In [21]:
sister1.append(sister)
print(sister1)

['tanu', 'avni', 'yuvi', 'tanu', 'anubha', 'deeksha', ['meghna', 'muskan'], ['tanu', 'anubha', 'deeksha', ['meghna', 'muskan']]]

In [32]:
print(sister)

['anubha', 'deeksha', 'tanu', ['meghna', 'muskan']]

In [27]:

print(sister1.count("tanu"))#no of times the element is present in the list

2

In [34]:
list2=['a','c','b']

In [35]:
print(list2.sort())

None

In [36]:
print(list2)

['a', 'b', 'c']

In [118]:
sister1.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

# center method

### to attach some signal on left and right side of string

In [44]:
name="tanu"
t=int(input("enter no of symbol"))
p=len(name)
print(p)
print(name.center((p+2*t),"#"))#add "#" symbol to left and right of name

enter no of symbol6
4
######tanu######

In [46]:
print(name.center(7,"8"))#in case of odd value preference is given to left side

88tanu8

## strip method

### to remove spaces(left and right) from string

In [53]:
names="     tanu    "
print("hi"+names.lstrip()+"hi")#remove left spaces

hitanu    hi

In [54]:
print("hi"+names.rstrip()+"hi")

hi     tanuhi

In [55]:
print("hi"+names.strip()+"hi")

hitanuhi

## dictionaries

In [56]:
dic={'name':'tanu','year':'second','branch':'CSE'}
print(dic)

{'name': 'tanu', 'year': 'second', 'branch': 'CSE'}

In [57]:
dic['city']='mathura'

In [60]:
print(dic['name'])

tanu

In [63]:
print(dic.keys())#give list of all key

dict_keys(['name', 'year', 'branch', 'city'])

In [64]:
print(dic.values())

dict_values(['tanu', 'second', 'CSE', 'mathura'])

#### loopin in dictionaries

In [66]:
for i in dic:
    print(i)#print all key name

name
year
branch
city

In [70]:
for i in (dic.values()):

    print(i)

tanu
second
CSE
mathura

In [72]:
for i in dic.items():#print both keys and its vlaue
    print(i)

('name', 'tanu')
('year', 'second')
('branch', 'CSE')
('city', 'mathura')

### sets and tuples
###### set does not print repeated values and tuples are immutable i.e its value cann't change

In [73]:
num={1,2,3,4,55,5,4,4,3}
print(num)

{1, 2, 3, 4, 5, 55}

In [76]:
for i in num:
    print(i)

1
2
3
4
5
55

In [83]:
t=(1,3,4,"four",6)
print(t)

(1, 3, 4, 'four', 6)

## function

In [101]:
def add(a,b=10):#default argument
    c=a+b
    print(c)

In [98]:
add(3,4)
add(3)

7
13

In [112]:
def adds(*a):
    total=0
    for i in a:
        total =total+i
    print(total)

### flexible no of argument using *

In [117]:
adds(4,5)
adds(4)
adds(1,2,3,4,5,6)

9
4
21

# DAY 3

## lambda function

In [1]:
doubles=lambda x:x*2
print(doubles(4))

8

In [3]:
def sum(x):
    return lambda y:x+y
a=sum(2)
print(a(6))

8

## zip function

In [24]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l=list(zip(l1,l2))
print(l)

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [22]:
d=dict(zip(l1,l2)) #to zip or combined two defferent entity
print(d)

{1: 5, 2: 6, 3: 7, 4: 8}

### unzipping(converting individual value to their original form)

In [27]:
k=list(zip(l))

In [29]:
print(k)

[((1, 5),), ((2, 6),), ((3, 7),), ((4, 8),)]

In [30]:
k1,k2=list(zip(*l))

In [31]:
print(k1)

(1, 2, 3, 4)

In [32]:
print(k2)

(5, 6, 7, 8)

In [42]:
print(list(k1))
print(list(k2))

[1, 2, 3, 4]
[5, 6, 7, 8]

In [38]:
k=list(zip(*l))

In [39]:
print(k)

[(1, 2, 3, 4), (5, 6, 7, 8)]

## map function

In [43]:
result=map(lambda n:n**2,l1)#n**m(gives n power m)
#map function returns a list of the results after applying the given function to each item of a given iterable(list tuple)

In [46]:
print(result)

<map object at 0x0000016F7D928F98>

In [45]:
print(list(result))

[1, 4, 9, 16]

In [48]:
results=map(lambda a,b:a+b,l1,l2)#add two list
print(tuple(results))

(6, 8, 10, 12)

## filter

In [49]:
num=[1,2,3,4,5,6,7,8,9,10]                #filter out the elements having specific property

result=filter(lambda x:x%2==0,num)
print(list(result))

[2, 4, 6, 8, 10]

## enumerate

In [52]:
en=enumerate(l1)

print(dict(en))

{0: 1, 1: 2, 2: 3, 3: 4}

In [53]:
en1=enumerate(l2)
print(list(en1))

[(0, 5), (1, 6), (2, 7), (3, 8)]

In [55]:
en=enumerate(l2,2)  #changing index
print(list(en))

[(2, 5), (3, 6), (4, 7), (5, 8)]

In [57]:
for i in enumerate(l1):  #using it in loop
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

# DAY -4

In [8]:
3*5

15

In [9]:
_

15

In [11]:
import math

In [12]:
math.sqrt(81)

9.0

In [13]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [14]:
help(math.factorial)

Help on built-in function factorial in module math:

factorial(x, /)
    Find x!.

    Raise a ValueError if x is negative or non-integral.

In [15]:
from math import factorial as fact

In [16]:
fact(4)

24

In [18]:
n0=5
k=3
fact(n)/(fact(n-3)*fact(3))

10.0

In [19]:
len(str(fact(n)))

3

## integers

In [20]:
0b10

2

In [21]:
0o10

8

In [22]:
0x16

22

In [23]:
int(12.9)

12

In [24]:
int("222")

222

In [25]:
int("10000",3)

81

In [32]:
float("inf")-float("nan")#not a no

nan

In [33]:
a=None

In [35]:
a is  None

True

### bool

In [36]:
bool(-1)

True

In [37]:
bool(0.00)

False

In [38]:
bool([])

False

In [39]:
bool(["123"])

True

In [43]:
while True:
    response  =input()
    if int(response)%6==0:
        break

5
6

## string

In [44]:
"first" "second"

'firstsecond'

In [46]:
m="this is \n fdgf\n a sSdfdgfdh"

In [47]:
print(m)

this is
 fdgf
 a sSdfdgfdh

In [52]:
t="hello \' hi \" hi \\"

In [53]:
print(t)

hello ' hi " hi \

In [56]:
path=r'desktop\tanu\folder'

In [57]:
print(path)

desktop\tanu\folder

In [58]:
path

'desktop\\tanu\\folder'

In [59]:
str(1235)

'1235'

In [60]:
city="mathura"

In [63]:
t=city.capitalize()

In [64]:
print(t)

Mathura

In [66]:
print(city)#immutable string

mathura

In [67]:
'\xe5'

'å'

In [68]:
'\345'

'å'

## bytes

a= b"tanu agrawal"

In [89]:
a.split()

AttributeError: 'NoneType' object has no attribute 'split'

In [84]:
list1=["tanu","agrawal" ]

In [85]:
list1.append("anu")

In [86]:
print(list1)

['tanu', 'agrawal', 'anu']

In [93]:
t=list("tanuagrawal")

TypeError: 'list' object is not callable

In [95]:
d={'name':'tanu','city':'mathura','year':'second'}

In [96]:
print(d)

{'name': 'tanu', 'city': 'mathura', 'year': 'second'}

In [97]:
d["name"]

'tanu'

In [100]:
for i in d:
    print(i)

name
city
year

In [101]:
for i in d:
    print(i,d[i])

name tanu
city mathura
year second

In [102]:
d["branch"]="CSE"

In [103]:
print(d)

{'name': 'tanu', 'city': 'mathura', 'year': 'second', 'branch': 'CSE'}

In [104]:
d['name']="anu"

In [105]:
print(d)

{'name': 'anu', 'city': 'mathura', 'year': 'second', 'branch': 'CSE'}

In [116]:
from urllib.request import urlopen
with urlopen('http://sixty-north.com/c/t.txt') as story:
    story_words=[]
    for i in story:
        line_story=i.split()
        for j in line_story:
            story_words.append(j)

In [117]:
story_words

[b'It',
 b'was',
 b'the',
 b'best',
 b'of',
 b'times',
 b'it',
 b'was',
 b'the',
 b'worst',
 b'of',
 b'times',
 b'it',
 b'was',
 b'the',
 b'age',
 b'of',
 b'wisdom',
 b'it',
 b'was',
 b'the',
 b'age',
 b'of',
 b'foolishness',
 b'it',
 b'was',
 b'the',
 b'epoch',
 b'of',
 b'belief',
 b'it',
 b'was',
 b'the',
 b'epoch',
 b'of',
 b'incredulity',
 b'it',
 b'was',
 b'the',
 b'season',
 b'of',
 b'Light',
 b'it',
 b'was',
 b'the',
 b'season',
 b'of',
 b'Darkness',
 b'it',
 b'was',
 b'the',
 b'spring',
 b'of',
 b'hope',
 b'it',
 b'was',
 b'the',
 b'winter',
 b'of',
 b'despair',
 b'we',
 b'had',
 b'everything',
 b'before',
 b'us',
 b'we',
 b'had',
 b'nothing',
 b'before',
 b'us',
 b'we',
 b'were',
 b'all',
 b'going',
 b'direct',
 b'to',
 b'Heaven',
 b'we',
 b'were',
 b'all',
 b'going',
 b'direct',
 b'the',
 b'other',
 b'way',
 b'in',
 b'short',
 b'the',
 b'period',
 b'was',
 b'so',
 b'far',
 b'like',
 b'the',
 b'present',
 b'period',
 b'that',
 b'some',
 b'of',
 b'its',
 b'noisiest',
 b'authorities',
 b'insisted',
 b'on',
 b'its',
 b'being',
 b'received',
 b'for',
 b'good',
 b'or',
 b'for',
 b'evil',
 b'in',
 b'the',
 b'superlative',
 b'degree',
 b'of',
 b'comparison',
 b'only']

In [125]:
from urllib.request import urlopen
with urlopen('http://sixty-north.com/c/t.txt') as story:
    story_words = []
    for line in story:
        line_words = line.decode('utf-8').split()
        for word in line_words:
            story_words.append(word)

In [124]:
story_words

['It',
 'was',
 'the',
 'best',
 'of',
 'times',
 'it',
 'was',
 'the',
 'worst',
 'of',
 'times',
 'it',
 'was',
 'the',
 'age',
 'of',
 'wisdom',
 'it',
 'was',
 'the',
 'age',
 'of',
 'foolishness',
 'it',
 'was',
 'the',
 'epoch',
 'of',
 'belief',
 'it',
 'was',
 'the',
 'epoch',
 'of',
 'incredulity',
 'it',
 'was',
 'the',
 'season',
 'of',
 'Light',
 'it',
 'was',
 'the',
 'season',
 'of',
 'Darkness',
 'it',
 'was',
 'the',
 'spring',
 'of',
 'hope',
 'it',
 'was',
 'the',
 'winter',
 'of',
 'despair',
 'we',
 'had',
 'everything',
 'before',
 'us',
 'we',
 'had',
 'nothing',
 'before',
 'us',
 'we',
 'were',
 'all',
 'going',
 'direct',
 'to',
 'Heaven',
 'we',
 'were',
 'all',
 'going',
 'direct',
 'the',
 'other',
 'way',
 'in',
 'short',
 'the',
 'period',
 'was',
 'so',
 'far',
 'like',
 'the',
 'present',
 'period',
 'that',
 'some',
 'of',
 'its',
 'noisiest',
 'authorities',
 'insisted',
 'on',
 'its',
 'being',
 'received',
 'for',
 'good',
 'or',
 'for',
 'evil',
 'in',
 'the',
 'superlative',
 'degree',
 'of',
 'comparison',
 'only']