In [1]:
print("hello")

hello

# variable

In [2]:
a=9
b=9

In [3]:
c=a*b

In [4]:
print(c)

81

In [5]:
type(c)

int

In [6]:
type("123")

str

In [7]:
name="tanu"

In [8]:
name.capitalize()

'Tanu'

In [9]:
name.isalpha()

True

# replace function

In [17]:
name.replace("tanu","anubha")

'anubha'

In [18]:
print(name)

tanu

In [20]:
name.replace("b","a")

'tanu'

# conditional statement

In [28]:
if a<b:
    print(a+" is greater")
elif a>b:
    print(b+"is greater")
else:
    print("both are equal")

both are equal

In [30]:
"True" if a==b else "false"

'True'

In [31]:
if 0:
    pass
else:
    print("hello")

hello

In [32]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [33]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

# split function

In [34]:
name.split()

['tanu']

In [39]:
print("tanu,anubha".split(','))

['tanu', 'anubha']

In [ ]:
name,age=input("enter your name and age ").split()

In [3]:
print(name)

tanu

In [44]:
print(age)

15

# list

In [61]:
list1=["a","b","c","d"]
print(list1)

['a', 'b', 'c', 'd']

In [54]:
list1[0:-1]

['a', 'b', 'c']

In [55]:
list1[:]

['a', 'b', 'c', 'd']

In [69]:
list1[0]="e"

In [68]:
list1.append("f")

In [70]:
print(list1)

['e', 'b', 'c', 'd', 'f']

In [71]:
for n in list1:
    print(n)

e
b
c
d
f

# format

In [74]:
print("your name is {0} and age is {1} ".format(name,age))

your name is harsh and age is 16

In [77]:
f"your name is {name} and age is {age}"

'your name is harsh and age is 16'

# break and continue

In [99]:
for n in list1:
    if n=="d":
        print("found {0} ".format(n))
        break
    print("not found")

not found
not found
not found
found d

In [101]:

for n in list1:
    if n=="b":
        continue
        print("found {0}".format(n))
    print("found {0}".format(n))

found e
found c
found d
found f

# day 2
## more on list
### list in list

In [4]:
sister=['tanu','anubha','deeksha',['meghna','muskan']]

In [7]:
print(sister)

['tanu', 'anubha', 'deeksha', ['meghna', 'muskan']]

In [9]:
print(sister[3][0])

meghna

In [18]:
for i in sister[3]:
    print(i)

meghna
muskan

### extend method in list

In [19]:
sister1=['tanu','avni','yuvi']
sister1.extend(sister)

In [20]:
print(sister1)

['tanu', 'avni', 'yuvi', 'tanu', 'anubha', 'deeksha', ['meghna', 'muskan']]

In [21]:
sister1.append(sister)
print(sister1)

['tanu', 'avni', 'yuvi', 'tanu', 'anubha', 'deeksha', ['meghna', 'muskan'], ['tanu', 'anubha', 'deeksha', ['meghna', 'muskan']]]

In [32]:
print(sister)

['anubha', 'deeksha', 'tanu', ['meghna', 'muskan']]

In [27]:

print(sister1.count("tanu"))#no of times the element is present in the list

2

In [34]:
list2=['a','c','b']

In [35]:
print(list2.sort())

None

In [36]:
print(list2)

['a', 'b', 'c']

In [118]:
sister1.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

# center method

### to attach some signal on left and right side of string

In [44]:
name="tanu"
t=int(input("enter no of symbol"))
p=len(name)
print(p)
print(name.center((p+2*t),"#"))#add "#" symbol to left and right of name

enter no of symbol6
4
######tanu######

In [46]:
print(name.center(7,"8"))#in case of odd value preference is given to left side

88tanu8

## strip method

### to remove spaces(left and right) from string

In [53]:
names="     tanu    "
print("hi"+names.lstrip()+"hi")#remove left spaces

hitanu    hi

In [54]:
print("hi"+names.rstrip()+"hi")

hi     tanuhi

In [55]:
print("hi"+names.strip()+"hi")

hitanuhi

## dictionaries

In [56]:
dic={'name':'tanu','year':'second','branch':'CSE'}
print(dic)

{'name': 'tanu', 'year': 'second', 'branch': 'CSE'}

In [57]:
dic['city']='mathura'

In [60]:
print(dic['name'])

tanu

In [63]:
print(dic.keys())#give list of all key

dict_keys(['name', 'year', 'branch', 'city'])

In [64]:
print(dic.values())

dict_values(['tanu', 'second', 'CSE', 'mathura'])

#### loopin in dictionaries

In [66]:
for i in dic:
    print(i)#print all key name

name
year
branch
city

In [70]:
for i in (dic.values()):

    print(i)

tanu
second
CSE
mathura

In [72]:
for i in dic.items():#print both keys and its vlaue
    print(i)

('name', 'tanu')
('year', 'second')
('branch', 'CSE')
('city', 'mathura')

### sets and tuples
###### set does not print repeated values and tuples are immutable i.e its value cann't change

In [73]:
num={1,2,3,4,55,5,4,4,3}
print(num)

{1, 2, 3, 4, 5, 55}

In [76]:
for i in num:
    print(i)

1
2
3
4
5
55

In [83]:
t=(1,3,4,"four",6)
print(t)

(1, 3, 4, 'four', 6)

## function

In [101]:
def add(a,b=10):#default argument
    c=a+b
    print(c)

In [98]:
add(3,4)
add(3)

7
13

In [112]:
def adds(*a):
    total=0
    for i in a:
        total =total+i
    print(total)

### flexible no of argument using *

In [117]:
adds(4,5)
adds(4)
adds(1,2,3,4,5,6)

9
4
21

# DAY 3

## lambda function

In [1]:
doubles=lambda x:x*2
print(doubles(4))

8

In [3]:
def sum(x):
    return lambda y:x+y
a=sum(2)
print(a(6))

8

## zip function

In [24]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l=list(zip(l1,l2))
print(l)

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [22]:
d=dict(zip(l1,l2)) #to zip or combined two defferent entity
print(d)

{1: 5, 2: 6, 3: 7, 4: 8}

### unzipping(converting individual value to their original form)

In [27]:
k=list(zip(l))

In [29]:
print(k)

[((1, 5),), ((2, 6),), ((3, 7),), ((4, 8),)]

In [30]:
k1,k2=list(zip(*l))

In [31]:
print(k1)

(1, 2, 3, 4)

In [32]:
print(k2)

(5, 6, 7, 8)

In [42]:
print(list(k1))
print(list(k2))

[1, 2, 3, 4]
[5, 6, 7, 8]

In [38]:
k=list(zip(*l))

In [39]:
print(k)

[(1, 2, 3, 4), (5, 6, 7, 8)]

## map function

In [43]:
result=map(lambda n:n**2,l1)#n**m(gives n power m)
#map function returns a list of the results after applying the given function to each item of a given iterable(list tuple)

In [46]:
print(result)

<map object at 0x0000016F7D928F98>

In [45]:
print(list(result))

[1, 4, 9, 16]

In [48]:
results=map(lambda a,b:a+b,l1,l2)#add two list
print(tuple(results))

(6, 8, 10, 12)

## filter

In [49]:
num=[1,2,3,4,5,6,7,8,9,10]                #filter out the elements having specific property

result=filter(lambda x:x%2==0,num)
print(list(result))

[2, 4, 6, 8, 10]

## enumerate

In [52]:
en=enumerate(l1)

print(dict(en))

{0: 1, 1: 2, 2: 3, 3: 4}

In [53]:
en1=enumerate(l2)
print(list(en1))

[(0, 5), (1, 6), (2, 7), (3, 8)]

In [55]:
en=enumerate(l2,2)  #changing index
print(list(en))

[(2, 5), (3, 6), (4, 7), (5, 8)]

In [57]:
for i in enumerate(l1):  #using it in loop
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)